@charset "utf-8";

/**
 * @file _variables.scss => variables.css
 * @description 사이트 공통으로 사용할 변수(색상, 폰트, 여백, 브레이크포인트 등) 정의
 */

/*  --------------- font ---------------  */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@font-face {
  font-family: 'S-CoreDream-9Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*  --------------- variable ---------------  */

// color
$color-yellow: #ffe100;
$color-blue: #0aa0e6;
$color-white: #fefefe;
$color-black: #222;

// width 
// $w-pc: 1440px;     
// $w-tablet: 1024px;      
// $w-mobile: 768px;
$full: 100%;
$half: 50%;


//  z-index
// $z-deep: -1;      // 배경 요소 (콘텐츠보다 뒤로 가야 할 때)
// $z-fir: 1;       // 1값
// $z-sec: 2;       // 2값
// $z-thr: 3;       // 3값
// $z-content: 10;   // 본문 내 겹치는 요소
// $z-dropdown: 20;  // 셀렉트박스, 드롭다운 메뉴
// $z-header: 30;    // 상단 네비게이션 (GNB)
// $z-modal: 50;     // 모달 팝업창
// $z-skip: 100;     // 본문 바로가기 (Skip Navigation - 최상위)
